html{
  padding:0;
  font-family:Roboto;
}

.container{
  width:597px;
  height:559px;
  margin: 0px auto;           
  background-color:rgb(197, 186, 186);
  border-radius:15px;
}

.calculator-window{
  top:0;
  width:100%;
  height:128px;
  background-color:black;
  border-radius: 15px 15px 0 0;
}
.calculator-window > h1{
  color:white;
  padding-left:500px;
  padding-top:75px;
}
.button-container{
  width:100%;
  position:fixed;
}
.button{
  width:148px;
  height:85px;
  background-color:rgb(255, 255, 255);
  text-align:center;
  border: 1px solid gray;
  position:relative;
  font-size:18px;
}
.button:hover{
  background-color: #8f8e8d;
}

.button:nth-of-type(1) { /*0*/
  top:344px;
  border-radius:0 0 0 15px;
}
.button:nth-of-type(11) { /*C*/
  top:-526px;
  left:298px;
}
.button:nth-of-type(12) { /*.*/
  top:-613px;
  left:149px;
}
.button:nth-of-type(2) { /*1*/
  top:171px;
} 
.button:nth-of-type(4) { /*3*/
  top:-3px;
  left:298px;
}
.button:nth-of-type(3) { /*2*/
  top:84px;
  left:149px;
}
.button:nth-of-type(5) { /*4*/
  bottom:176px;
}
.button:nth-of-type(7) { /*6*/
  bottom:350px;
  left:298px;
}
.button:nth-of-type(6) { /*5*/
  left:149px;
  bottom:263px;
}
.button:nth-of-type(8) { /*7*/
  bottom:523px;
}
.button:nth-of-type(10) { /*9*/
  bottom:697px;
  left:298px;
}
.button:nth-of-type(9) { /*8*/
  bottom:610px;
  left:149px;
}
.button:nth-of-type(13) { /*+*/
  bottom:1044px;
  background-color: #d4cecd;
}
.button:nth-of-type(13):hover{
  background:#8f8e8d;
}
.button:nth-of-type(15) { /*X*/
  bottom:1218px;
  left:298px;
  background-color: #d4cecd;
}
.button:nth-of-type(15):hover{
  background:#8f8e8d;
}
.button:nth-of-type(14) { /*-*/
  bottom:1131px;
  left:149px;
  background-color: #d4cecd;
}
.button:nth-of-type(14):hover{
  background:#8f8e8d;
}
.button:nth-of-type(16) { /*/*/
  bottom:1305px;
  left:447px;
  background-color: #d4cecd;
}
.button:nth-of-type(16):hover{
  background:#8f8e8d;
}
.button:last-of-type { /*=*/
  bottom:1306px;
  left:447px;
  height:343px;
  border-radius:0 0 15px 0;
  background:linear-gradient(0deg, salmon, rgb(248, 169, 160));
} 
.button:last-of-type:hover{
  background:linear-gradient(0deg, rgb(244, 102, 86), rgb(247, 149, 138));
}
